form {
    margin-top: 10px;
}

label {
    font-size: 16px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

input {
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    background-color: #f8f8f8;
    transition: box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.4);
}

.save {
    font-weight: bold;
    width: 130px;
    padding: 10px;
    margin-top: 30px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 50%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr {
    border: none;
}

.description {
    width: 100px;
    height: 60px;
}
